spring:
  datasource:
    url: jdbc:postgresql://${HOST}:${PORT_DB}/${POSTGRES_DB}
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: validate
    open-in-view: false

  flyway:
    enabled: true
    locations: classpath:db/migration
    url: jdbc:postgresql://${HOST}:${PORT_DB}/${POSTGRES_DB}
    user: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - openid
              - profile
              - email
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          google:
            issuer-uri: https://accounts.google.com

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${GMAIL_APP_EMAIL}
    password: ${GMAIL_APP_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
    default-encoding: UTF-8

server:
  port: ${PORT_APP}
  servlet:
    context-path: /api/glic

logging:
  level:
    org.hibernate.orm.connections.pooling: WARN

app:
  jwt:
    secret: ${JWT_SECRET}
    expiration: 3600